/* Base style, might need additional styling to stand out more. 
   Positioned slightly off the top and left edges.
*/
.skip-link {
    display: inline-block;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

/* Unhide the link when it has keyboard focus */
.skip-link:focus {
    width: auto;
    height: auto;
    clip: auto;
}